.wrapper {
  //   display: flex;
  gap: 30px;
  padding-top: 30px;
 
}

.blockBtn {
  margin-top: 20px;
}
.blockResult {
  //   display: flex;
  margin-top: 20px;
  gap: 50px;
 
}

.result {
  margin-top: 15px;
}
